# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual env
env/
venv/
.venv/
ENV/
env.bak/

# Packaging
*.egg-info/
dist/
build/
pip-wheel-metadata/

# Tests / coverage
htmlcov/
.tox/
.nox/
.pytest_cache/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Collected/static & uploads (uygun adınızı kullanın)
staticfiles/
static_root/
media/

# Dotenv
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/
*.iml

# OS junk
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Whitenoise cache
.whitenoise/

# Dumps
*.sql
*.dump

# Heroku/Render vb.
.heroku/
